---
// src/pages/index.astro
import ReactComponent from "../components/ReactComponent.jsx";
import SolidComponent from "../components/SolidComponent.jsx";
---

<main>
  <h1>Welcome to Astro</h1>
  <ReactComponent client:only="react" />
  <SolidComponent client:only="solid" />
  <div> hola </div>
</main>

<style>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
